/.vscode
Chrome-Extension/.idea/misc.xml
Chrome-Extension/.idea/modules.xml
Chrome-Extension/.idea/workspace.xml
Chrome-Extension/.idea/Chrome-Extension.iml
/node_modules
.idea/mhacks-2019.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
HTML Template/.idea/HTML Template.iml
HTML Template/.idea/misc.xml
HTML Template/.idea/modules.xml
HTML Template/.idea/workspace.xml
